/* src/admin/adminIndex.css */

.admin-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	min-height: 40vh; /* 화면 중앙에서 약간 위로 배치되도록 높이 조정 */
  padding-top: 5vh; /* 위쪽 padding 추가하여 더 올라오게 조정 */
}

.admin-page h1 {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
	line-height: 0.8;
}

.admin-page h2 {
	font-size: 24px;
	color: #555;
	margin-bottom: 30px; /* BookGarden과 버튼 사이 간격 */
}

.admin-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 300px; /* 버튼 폭을 제한 */
}

.admin-buttons .btn {
	width: 100%;
	font-size: 16px;
	padding: 12px 0; /* 버튼 높이를 로그인 페이지와 유사하게 조정 */
	margin-bottom: 10px; /* 버튼 간 간격 조정 */
	border-radius: 25px;
	cursor: pointer;
	text-align: center;
	border: 5px solid #a3d8a1; /* 연한 초록색 테두리 추가 */
  color: #333; /* 버튼 텍스트 색상 */
  background-color: white; /* 버튼 배경색 */
}
