<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.ebook.dao.WriterDAO">

<insert id="insertWriter">
	insert into writer(wr_name,wr_profile)
	values(#{wr.wr_name},#{wr.wr_profile})
</insert>

<insert id="insertWriterList">
	insert into writer_list(wl_wr_num,wl_bk_num,wl_wt_num)
	values(#{wl.wl_wr_num},#{wl.wl_bk_num},#{wl.wr_wt_num})
</insert>
<select id="selectWriterList">
	select *
	from writer_list
	where wl_bk_num = #{bookNum}
</select>

<select id="selectWriter">
	select *
	from writer
	where wr_num = #{writerNum}
</select>

<select id="searchWriterList">
	select *
	from writer
	where wr_name like concat('%',#{search},'%')
	limit #{page},5
</select>

<select id="selectWriterListCount">
	select count(*)
	from writer
	where wr_name like concat('%',#{search},'%')
</select>

<select id="selectWriterTypeList">
	select *
	from writer_type
</select>

</mapper>