@charset 'utf-8';

p.error {top: 4em; left: 0;}

#cart > .check {
	position: absolute;
	left: 0;
	top: 0;
}
#cart {position: relative; display: flex; justify-content: space-between; align-items: flex-start; gap: 3em; padding-top: 3em;}
.cart-item-wrapper {width: 100%;}
.cart-item {
	position: relative;
	display: flex;
	gap: 1em;
	padding-left: 5.5em !important;
	margin-bottom: 2em;
}
.cart-item .check {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 2em;
}
.cart-item .book-img {width: 100px;}
.cart-item .book-info {flex-direction: column; justify-content: center; padding: 0;}
.cart-item .book-info h3 {max-width: 150px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.cart-item .cart-item-controller {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 2em;
	text-align: center;
}
.cart-item .cart-item-controller .price {font-weight: 900; font-size: var(--big-font-size); padding-bottom: .6em;}
.cart-item .cart-item-controller .btn {padding-left: 3em; padding-right: 3em;}

.total {width: 350px;}
.total p {display: flex; justify-content: space-between; line-height: 1.8;}
.total strong {font-size: var(--big-font-size);}
.total hr {margin: 1em 0;}
.total .btn {margin-top: 1em; font-weight: 900; display: block; text-align: center; font-size: var(--big-font-size);}

/* order page */
.selected-books {margin-bottom: 2em;}

.buy-list li {
	padding: 1em 0;
	border-bottom: 1px solid var(--color-grey);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.buy-list li:first-of-type {padding-top: 0;}
.buy-list li:last-of-type {border: 0; padding-bottom: 0;}

#order {
	display: flex;
	justify-content: space-between;
	gap: 3em;
}
#order .selected-books {width: 100%;}
#order .payment dl {padding-bottom: 1em;}
#order .payment dl input[type="text"] {background: #fff; text-align: right;}
#order .payment .btn-point {
	margin-top: 1em; font-weight: 900; display: block; text-align: center; font-size: var(--big-font-size);
}

@media all and (max-width: 768px) {
	#cart, #order {flex-direction: column; gap: 2em;}
	.cart-item .book-img {width: 50px;}
	.total {width: 100%;}
}

#success ul li {border-bottom: 1px solid var(--color-grey); padding: 2em 0;}
#success ul li:first-of-type {padding-top: 0;}
#success ul li:last-of-type {border: 0; padding-bottom: 0;}
#success ul li .price {text-align: right;}

#success a {float: right; margin-top: 2em;}