@charset 'utf-8';

* {margin: 0; padding: 0; box-sizing: border-box;}

a {text-decoration: none; color: inherit;}
img {max-width: 100%;}
ul, ol, li {list-style: none;}
input, select, textarea, button {font: inherit; color: inherit; border: 0;}
input:focus, select:focus, textarea:focus, button:focus {outline: none;}
textarea {resize: vertical; min-height: 100px; padding: 1em;}

fieldset {border: 0;}

.hidden {display: none;}

.fix-layout {margin: 0 auto; padding: 1em; max-width: 1040px;}

#body {min-height: calc(var(--vh) * 100); padding-bottom: 8em;}
main {padding: 2em 0 7em; clear: both;}