@charset 'utf-8';

.book-info {display: flex; padding-bottom: 2em;}

.info {padding-left: 2em;}
.info h2 {padding: 0.4em 0 1em;}
.info dl dt {display: inline-block; width: 4em; font-weight: 900;}
.info dl dd {display: inline-block;}

.btns {margin-top: 2em;}
.btns .btn {margin-right: 1em; padding-left: 2em; padding-right: 2em;}
.btns .btn.btn-point {font-weight: 900;}

.section {padding: 4em 0;}
.section h3 {padding-bottom: .6em;}

.review-write textarea {margin-top: 1em;}
.review-write .btn {float: right; margin-top: 1em; font-weight: 900; padding-left: 2em; padding-right: 2em;}
.review-write::after {
	content: '';
	display: block;
	clear: both;
}

.review-list {
	margin: 3em 0;
}
.review-list li {position: relative; margin: 3em 0; padding-left: 130px;}
.review-list li .pf {width: 100px; height: 100px; border-radius: 50%; position: absolute; top: 0; left: 0;}
.review-list li .review-date {padding-left: 1em;}
.review-list li .rating {margin-top: .6em;}
.review-list li .review-footer {display: flex; justify-content: flex-end; gap: .6em; padding-top: 1em;}