@charset 'utf-8';

.book-info {display: flex;}

.info {padding-left: 2em;}
.info h2 {padding: 0.4em 0 1em;}
.info dl dt {display: inline-block; width: 4em; font-weight: 900;}
.info dl dd {display: inline-block;}