@charset 'utf-8';

.join-form form {
	max-width: 600px;
	margin: 0 auto;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.inputs div:first-of-type input {width: 40%;}
.inputs div:first-of-type button {margin-left: 1em;}

.join-form .btn.submit {
	font-weight: 900;
	margin: 0 auto;
	display: block;
	padding-left: 5em;
	padding-right: 5em;
	margin-top: 1.5em;
}

.error {
	position: absolute;
	font-size: var(--small-font-size);
	top: calc(100% + .4em);
	left: 8.4rem;
	color: var(--color-caution);
}

.error-msg {
	color: red;
	font-size: 14px; /* 필요에 따라 글꼴 크기 변경 가능 */
}

#wrap {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.3);
	z-index: 99;
}