@charset 'utf-8';

#main-section {position: relative;}
#top-section {height: 100%;}
.top-section-content {
	position: relative;
	display: flex;
	height: 400px;
	gap: 2em;
}

.section-title {padding-bottom: 2em;}
.section-title p{padding-top: .5em;}

#category-navbar {width: 20%;}
#category-navbar .category-navbar-wrapper {
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 2em;
}
#category-navbar ul {position: relative;}
#category-navbar ul:not(:first-of-type):before {
	 content: '';
	 position: absolute;
	 top: -1em;
	 left: 0;
	 width: 100%;
	 height: 0;
	 border-top: 1px solid var(--color-grey);
	 display: block;
}

.books {
	width: 80%;
	display: flex;
	justify-content: center;
	gap: 1em;
}
.books .book {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.books .book .book-img {box-shadow: var(--box-shadow);}

#best-sellers .book:nth-of-type(1) {order: 1;}
#best-sellers .book:nth-of-type(3) {order: 2;}
#best-sellers .book .rank {
	position: absolute;
	width: 2.5em;
	height: 2.5em;
	display: flex;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
	font-weight: 900;
	box-shadow: var(--box-shadow);
	background: var(--color-bak);
	border-radius: 50%;
	color: var(--color-brand);
}
#best-sellers .book:nth-of-type(1) .rank {
	color: var(--color-bak);
	background: var(--color-brand);
}

#request-books {padding: 4em 0;}
#request-books ul li {padding: 1em 0; display: flex; justify-content: space-between;}
#request-books ul li:not(:last-of-type) {border-bottom: 1px solid var(--color-grey);}
#request-books ul li .article-info .writer {padding-right: 2em;}

#today-book .theme-box > h2 {font-size: 1.2em; padding-bottom: 1em;}

#today-book .book-info {
	display: flex;
	justify-content: space-between;
	gap: 3em;
	align-items: center;
}
#today-book .book-img {display: flex; justify-content: center; align-items: center; flex-wrap: wrap; box-shadow: var(--box-shadow); max-height: 100%; width: 600px;}

#today-book .book-title h3 {font-size: var(--page-title-font-size);}
#today-book .book-title .writer {line-height: 3;}

#today-book .book-content {position: relative; height: 200px; overflow: hidden;}
#today-book .book-content::before {
	content: '';
	margin-top: 1em;
	width: 1.5em;
	height: 2px;
	background: var(--color-default);
	display: block;
}
#today-book .book-content > p {
	padding-top: 1em;
}

.blind {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to top, var(--color-light-grey) 50%, transparent 150%);
}
.blind button {margin-bottom: -2em; padding-left: 4em; padding-right: 4em; font-weight: 900;}

@media all and (max-width: 1024px) {
	.top-section {flex-direction: column;}
	.top-section-content {flex-direction: column;}

	#category-navbar {width: 100%;}
	#category-navbar .category-navbar-wrapper {flex-direction: row;}
	#category-navbar ul {width: calc(100% / 3); height: 200px; overflow: auto;}
	#category-navbar ul:not(:first-of-type):before {
		width: 0;
		height: 100%;
		border: 0;
		border-left: 1px solid var(--color-grey);
		top: 0;
		left: -1em;
	}

	.books {width: 100%;}
}

@media all and (max-width: 768px) {
	#today-book .book-info {flex-direction: column;}
	#today-book .book-img {width: 200px;}
}