@charset 'utf-8';

#my-sub-menu {
	position: absolute;
	width: 100px;
	text-align: right;
}
#my-sub-menu div {padding-bottom: 2em;}
#my-sub-menu h3 {line-height: 1.8; white-space: nowrap;}

section.mypage-content {margin-left: 150px;}

.pf-section {display: flex; gap: 1em;}
.pf-pic {position: relative; width: 150px; height: 150px; background-color: #fff; box-shadow: var(--box-inner-shadow); border-radius: 50%;}
.pf-info {padding-left: 2em;}

.file-upload-btn {font-size: var(--big-font-size); opacity: .3; cursor: pointer; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: none;}
.file-upload-btn:hover {opacity: 1;}

.pf-nickname {padding-bottom: 1em;}
.pf-nickname h2 {float: left;}
.pf-nickname h2 + a {padding-left: 1em;}

.pf-desc {clear: both;}

.sub-section {margin-top: 2em;}
.sub-section .section-title {display: flex; justify-content: space-between;}
.sub-section li {position: relative; padding: 1em 0; border-bottom: 1px solid var(--color-grey);}
.sub-section li:first-of-type {padding-top: 0;}
.sub-section li:last-of-type {padding-bottom: 0; border: 0;}
.sub-section li p {
	float: left;
	width: 80%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.sub-section li .review-date {
	position: absolute;
	right: 0;
}
.sub-section li::after {
	content: '';
	display: block;
	clear: both;
}