@charset 'utf-8';

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('./fonts/fa-solid-900.woff2') format('woff2');
}

:root {
	--font-size: 16px;
	--small-font-size: 0.8rem;
	--big-font-size: 1.2rem;
	--page-title-font-size: 1.5rem;

	--font-family: 'Pretendard-Regular';
	--icon-font-family: 'FontAwesome';
	--line-height: 1.5em;

	--color-default: #292524;
	--color-bak: #fafaf9;
	--color-light-grey: #f5f5f4;
	--color-grey: #c4bfbd;
	--color-brand: #84cb70;
	--color-caution: #df5b5b;

	--box-shadow: 1px 1px 3px rgba(0,0,0,.16);
	--box-inner-shadow: inset 1px 1px 3px rgba(0,0,0,.16);
}

body {
	font: var(--font-size)/var(--line-height) var(--font-family);
	color: var(--color-default);
}

/* form element */
input[type="text"] {
	padding: 0.7em 1em;
	background: var(--color-light-grey);
	border: 0;
	border-radius: 2em;
	box-shadow: var(--box-inner-shadow);
}

.frm-input.full {width: 100%;}

.btn {cursor: pointer; line-height: 1;}
.btn-basic,
.btn-point {
	padding: .8em;
	border-radius: 1em;
	box-shadow: var(--box-shadow);
}

.btn-basic {background: var(--color-light-grey);}
.btn-point {background: var(--color-brand); color: var(--color-bak);}

.btn.ico{font-size: 0;}
.btn.ico::before {
	font-family: var(--icon-font-family);
	font-size: var(--font-size);
}

.btn.ico.search::before {
	content: '\f002';
}

/* search form */
.search-box {position: relative; width: 70%; float: right;}
.search-box .btn {
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	width: 3rem;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* header */
header {
	position: sticky;
	width: 100%;
	padding-top: 30px;
}

#logo {float: left;}

.menu {position: relative; margin-top: 5em; clear: both;}
.menu .cate-toggle-btn {position: absolute; top: 0; left: 0;}

.gnb {padding: 0 5em 0 4em; line-height: 2.8em; display: flex; justify-content: space-between;}
.gnb .site-menu ul li {float: left; padding-right: 1.5em;}
.gnb .user-menu ul {float: right;}
.gnb .user-menu ul li {float: left; padding-left: 1.5em;}

#my-books {
	position: absolute;
	right: 0;
	top: -.2rem;
	border-radius: 50%;
	font-size: var(--big-font-size);
}

/* height 나중에 삭제 */
.main {height: 10000px; clear: both;}

/* footer */

footer {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 200px;
	background: var(--color-light-grey);
}