<mapper namespace="kr.kh.ebook.dao.MemberDAO">

    <select id="findMemberById" parameterType="java.lang.String" resultType="kr.kh.ebook.model.vo.MemberVO">
        select * from member
        where me_id = #{me_id}
    </select>
   
    <select id="selectMemberByNaverId" parameterType="java.lang.String" resultType="kr.kh.ebook.model.vo.MemberVO">
        select * from member
        where me_naverId = #{naverId}
    </select>
   
    <select id="findMemberByEmail" resultType="kr.kh.ebook.model.vo.MemberVO">
        select * from member where me_email = #{email}
    </select>
   
</mapper>
