<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.ebook.dao.MypageDAO">

    <select id="findBooksByMemberId" resultType="BuyListVO">
        SELECT *
        FROM buy_list
        WHERE bl_me_id = #{bl_me_id}
    </select>

</mapper>